<div class="cards-container">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/5.jpg') }}" alt="Concert 1">
    <div class="card-overlay">Coldplay Live</div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/2.jpg') }}" alt="Concert 2">
    <div class="card-overlay">Metallica</div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/3.jpg') }}" alt="Concert 3">
    <div class="card-overlay">Taylor Swift Tour</div>
  </div>
</div>
