<nav class="custom-navbar">
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="https://flowbite.com/docs/images/logo.svg" alt="Logo">
      <span>BackToRock</span>
    </a>

    <ul class="menu">
      <li><a href="/index" class="active">Anasafa</a></li>
      <li><a href="/etkinlikler">Etkinlikler</a></li>
      <li><a href="/biletler">Biletleriniz</a></li>
      <li><a href="/#">Bildirimler</a></li>
    </ul>
    <!--Buraya bildirim kutusu gelecek-->
    
    <div class="user-actions">
      <a href="/logout" class="logout-btn">Çıkış Yap</a>
    </div>
  </div>
</nav>
