{% include 'partials/admin_partial/_admin_navbar.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_css/admin_tumetkinlikler.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_css/admin.css') }}">
{% endblock %}

<div class="container etkinlik-container">
  <h3 class="etkinlik-baslik">🎫 Tüm Etkinlikler</h3>

  <div class="cards-wrapper">
    {% for konser in tumkonserler %}
      <div class="card">
        <img src="{{ url_for('static', filename=konser[1]) }}" class="card-img-top" alt="{{ konser[0] }}">
        <div class="card-body">
          <h5 class="card-title">{{ konser[0] }}</h5>
          <div class="btn-group">
  <a href="{{ url_for('app_routes.guncelle_etkinlik', etkinlik_id=konser[2]) }}" class="btn-update">Güncelle</a>
  <a href="{{ url_for('app_routes.sil_etkinlik', etkinlik_id=konser[2]) }}" 
     class="btn-delete" 
     onclick="return confirm('Bu etkinliği silmek istediğinizden emin misiniz?');">
     Sil
  </a>
    {% if konser[3] == True %}
    <a href="{{ url_for('app_routes.populer_kaldir', etkinlik_id=konser[2]) }}" 
       class="btn-unpopular">Popülerlikten Çıkar</a>
  {% else %}
    <a href="{{ url_for('app_routes.populer_yap', etkinlik_id=konser[2]) }}" 
       class="btn-popular">Popüler Yap</a>
  {% endif %}

</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


