{% extends 'layout.html' %}

{% block title %}Anasayfaaa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/populerconcerts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/soonconcerts.css') }}">
{% endblock %}


{% block content %}
{% if name_user %}
  <div class="welcome-message">
    👋 Hoş geldin, <strong>{{ name_user }}</strong>!
  </div>
{% endif %}
    <h2>Popüler Konserler</h2>
    {% include 'partials/_populerconcerts.html' %}

    <h2>Yaklaşan Konserleriniz</h2>
    {% include 'partials/_soonconcerts.html' %}
{% endblock %}
