<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Temel Sayfa Başlığı{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block extra_css %}{% endblock %} <!--sayfaya özel css için-->
</head>
<body>
    
    {% include 'partials/_navbar.html' %}

    <div class="container">
        {% block content %}{% endblock %} <!-- index sayfasındaki yazıyı göstermek için-->
    </div>

     {% include 'partials/_footer.html' %}
     
{% block extra_js %}{% endblock %}
</body>
</html>
