<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Giriş Yap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="login-container">
    <div class="image-side"></div>

    <div class="form-side">
      <h2>Giriş Yap</h2>
      <form action="{{ url_for('app_routes.login') }}" method="post">
        <label for="email">E-posta</label>
        <input type="email" name="email" placeholder="E-posta adresinizi girin" required>

        <label for="password">Şifre</label>
        <input type="password" name="password" placeholder="Şifrenizi girin" required>

        <div class="options">
          <label><input type="checkbox"> Beni Hatırla</label>
          <a href="#">Şifremi Unuttum</a>
        </div>

        <button type="submit">Giriş Yap</button>
      </form>

      <p class="signup-text">Hesabınız yok mu? <a href="#">Kayıt Ol</a></p>
    </div>
  </div>
</body>
</html>
